<!DOCTYPE html>
<html>

<head>

    <title>Tourist Safety System</title>

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet"
          href="/static/style.css">

</head>

<body>

<div class="container">

    <h1>Smart Tourist Safety Monitoring</h1>

    <div id="location">
        Detecting Location...
    </div>

    <button onclick="sendSOS()">
        SEND SOS
    </button>

</div>

<script src="/static/script.js"></script>

</body>
</html>